absl-py==0.15.0
Adafruit-Blinka==8.6.0
adafruit-circuitpython-busdevice==5.2.3
adafruit-circuitpython-motor==3.4.5
adafruit-circuitpython-pca9685==3.4.6
adafruit-circuitpython-register==1.9.14
adafruit-circuitpython-requests==1.12.9
adafruit-circuitpython-servokit==1.3.13
adafruit-circuitpython-typing==1.8.2
Adafruit-GPIO==1.0.3
Adafruit-PCA9685==1.0.1
Adafruit-PlatformDetect==3.32.0
Adafruit-PureIO==1.1.9
Adafruit-SSD1306==1.6.2
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astor==0.8.1
astunparse==1.6.3
attrs==22.1.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
cached-property==1.5.2
cachetools==5.2.0
certifi==2022.9.24
cffi==1.15.1
chardet==3.0.4
clang==5.0
cloudpickle==2.2.0
cycler==0.11.0
Cython==0.29.21
debugpy==1.6.3
decorator==4.4.2
defusedxml==0.7.1
docopt==0.6.2
-e git+https://github.com/ari-viitala/donkeycar.git@4d8bc923f3c188df4b72057c4fdf4315f5d1ad67#egg=donkeycar
entrypoints==0.4
fastjsonschema==2.16.2
filelock==3.8.0
flatbuffers==1.12
future==0.18.2
futures==3.1.1
gast==0.4.0
gdown==4.5.1
google-auth==2.12.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.49.1
gym==0.21.0
-e git+https://github.com/tawnkramer/gym-donkeycar.git@4ea670491eaef66178a1ffe3d672c7d4344c51bf#egg=gym_donkeycar
h5py==3.1.0
idna==2.10
imageio==2.22.2
imageio-ffmpeg==0.4.7
importlib-metadata==4.13.0
importlib-resources==5.10.0
ipykernel==6.16.0
ipython==7.34.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
jedi==0.18.1
Jetson.GPIO==2.0.20
Jinja2==3.1.2
jsonschema==4.16.0
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-core==4.11.1
jupyter_client==7.3.5
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
keras==2.6.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
Mako==1.2.3
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.3.0
matplotlib-inline==0.1.6
mistune==2.0.4
mock==4.0.2
moviepy==1.0.3
nbclient==0.7.0
nbconvert==7.2.1
nbformat==5.6.1
nest-asyncio==1.5.6
notebook==6.4.12
numpy @ git+https://github.com/numpy/numpy.git@6d7b8aaed5ae9f0435764675ebac8c9ada06738f
oauthlib==3.2.1
opt-einsum==3.3.0
packaging==21.3
paho-mqtt==1.6.1
pandas==1.1.5
pandocfilters==1.5.0
parso==0.8.3
pbr==5.10.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
pkgutil_resolve_name==1.3.10
platformdirs==2.5.2
portpicker==1.3.1
prettytable==3.4.1
proglog==0.1.10
prometheus-client==0.14.1
prompt-toolkit==3.0.31
protobuf==3.12.2
psutil==5.7.2
ptyprocess==0.7.0
py-cpuinfo==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.5.0
pycparser==2.21
pycuda==2022.1
pyftdi==0.54.0
Pygments==2.13.0
pymata-aio==2.35
pyparsing==3.0.9
pyrsistent==0.18.1
pyserial==3.5
PySocks==1.7.1
python-dateutil==2.8.2
pytools @ https://files.pythonhosted.org/packages/46/8a/149fa553998155f0a90d92cdbbc60f6c998cc9ad5fe0441b2b82628d001a/pytools-2021.1.tar.gz
pytz==2022.2.1
pyusb==1.2.1
PyYAML==6.0
pyzmq==24.0.1
qtconsole==5.3.2
QtPy==2.2.1
requests==2.24.0
requests-oauthlib==1.3.1
rsa==4.9
Send2Trash==1.8.0
simple-pid==1.0.1
six==1.15.0
soupsieve==2.3.2.post1
spidev==3.5
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow @ file:///home/mbp2022_jassy/dc3.7.0/tensorflow-2.6.0-cp37-cp37m-manylinux_2_17_aarch64.manylinux2014_aarch64.whl
tensorflow-estimator==2.10.0
termcolor==1.1.0
terminado==0.16.0
testresources==2.0.1
tinycss2==1.1.1
-e git+https://github.com/pyenv/pyenv.git@1f526edbdd7c5d789678a143100d1155b7f75576#egg=torch
torchvision==0.10.0
tornado==6.2
tqdm==4.64.1
traitlets==5.4.0
typing_extensions==4.4.0
urllib3==1.25.11
wcwidth==0.2.5
webencodings==0.5.1
websockets==10.4
Werkzeug==2.2.2
widgetsnbextension==4.0.3
wrapt==1.12.1
zipp==3.8.1
